.header {
    height: 53px;
    background-color: rgb(26, 36, 86);
    width: 97%;
    margin: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header .header-items{
    display: flex;
    justify-content: space-between;
}

.header .header-items .left .logo{
    margin-left: 7px;
    margin-top: 8px;
    color: rgb(233, 207, 173)
}

.header .right{
    display: flex;
}

.header .icon-header {
    color: rgb(233, 207, 173);
    margin-right: 4px;
    margin-top: 4px;
    height: 35px;
    width: 35px;
}

.header .header-text ul{
    color: red;
    display: inline-flex;
    list-style: none;
}

.header .header-text li{
    margin-right: 30px;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: rgb(239, 194, 179);
}

.header .logo .link,
.header .header-text .link{
    text-decoration: none;
    color: rgb(239, 194, 179);
}

.header .logo .link:hover,
.header .header-text .link:hover{
    color:rgb(216, 146, 123);
}

